.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
}

.main-select {
  background-color: #f6f6f6;
  height: 2rem;
  border-radius: 3px;
  color: rgb(100, 97, 89);
  font-size: 1rem;
}
select {
  margin-top: 1rem;
}

option {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: rgb(100, 97, 89);
}

button {
  margin-top: 1.5rem;
}

tr:nth-child(even) {
  background-color: #ddd;
}

tbody {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.table-container {
  max-width: 60%;
  margin: auto;
}
